* {
    margin: 0px;
    padding: 0px;
}

.container {
    background-color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header-container {
    background-color: #5C4827;
    display: flex;
    justify-content: space-between;
}

.container2 {
    background-color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav-title{
    color: #FFFDD0;
    font-weight: normal;
    margin: 10px 10px 10px 20px;
}

.nav-links {
    color: transparent;
    font-weight: normal;
    display: flex;
    align-items: center;
}

a {
    color: #FFFDD0;
    text-decoration: none;
    margin: 10px;
}

.btn {
    color: #FFFDD0;
    font-weight: bold;
    background-color: #949E83;
    border: 2px solid black;
    box-shadow: 2px 2px 2px black;
    padding: 0px 15px;
    margin: 15px
}

:hover.active {
    font-weight: bold;
}

.profile-container {
    width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.user-card {
    width: 100%;
    background-color: #FFFDD0;
    border: 2px solid black;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    overflow: hidden;
}

.picture {
    background-color: #949E83;
    height: 125px;
    margin-bottom: 70px;
}

.about {
    padding: 20px;
}

.about h1,
.about h3,
.about p {
    margin: 20px 0px;
}

.avatar {
    border-radius: 50%;
    background-color: #FFFDD0;
    height: 190px;
    padding: 5px;
    margin-top: 20px;
    margin-left: 20px;
}

.icon-s {
    height: 20px;
}

.gearbox {
    height: 20px;
    color: #3a81e6;
    text-decoration: underline;
    margin: 0px;
}

.education-container {
    background-color: white;
    border: 5px black;
    width: 800px;
}

.edu-card {
    width: 100%;
    background-color: #FFFDD0;
    border: 2px solid black;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    overflow: hidden;
    margin-left: 20px;
}

.edu-header {
    background-color: #5C4827;
}

.edu-header h1{ 
    margin-left: 20px;
    padding: 10px 0px;
}

.edu-about {
    padding: 20px;
}

.edu-about h2,
.edu-about p {
    margin: 20px 0px;
}

.edu-about p{ 
    color:#949E83;
}

.container3 {
    background-color: white;
    margin-top: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.connection-container {
    background-color: white;
    border: 5px black;
    width: 400px;   
}

.con-card{
    width: 100%;
    background-color: #FFFDD0;
    border: 2px solid black;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    overflow: hidden;
    margin-left: 20px;
}

.con-header {
    background-color: #5C4827;
    display: flex;
    padding: 20px;
}

.con-header h2 {
    margin-left: 10px;
}

.req {
    border-radius: 50%;
    font-weight: bold;
    font-size: 20px;
    background-color: #949E83;
    width: 40px;
    border: none;
}

.requests {
    padding: 20px;
}

.ppl-s {
    height: 35px;
    border-radius: 50%;
}

.yesno {
    height: 35px;
}

.requests h2 {
    padding-bottom: 20px;
}

.body {
    display: flex;
    justify-content: space-evenly;
}

.mycon-card {
    width: 100%;
    background-color: #FFFDD0;
    border: 2px solid black;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    overflow: hidden;
    margin-left: 20px;
}

.mycon-header {
    background-color: #5C4827;
    display: flex;
    padding: 20px;
}

.mycon-header h2 {
    margin-left: 10px;
}

.mycon {
    border-radius: 45%;
    font-weight: bold;
    font-size: 20px;
    background-color: #949E83;
    width: 70px;
    border: none;
}

.people {
    padding: 20px;  
}

.view {
    color: #3a81e6;
    text-decoration: underline;
    font-size: 25px;
}